.bank_row {
  width: 100%;
  height: 578px;
  background-image: url("d:\myproject\src\img\FrameForCard.svg");
}

.bank {
  display: flex;
}

.bank img {
}

.info {
  margin-top: 250px;
  margin-left: 250px;
}

.Medical {
  color: #fff;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 20px;
}

.Our_mission {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 20px;
}

.bank_in {
  margin-left: 300px;
  margin-top: 170px;
  width: 459px;
  height: 354px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.14);
}

.bank_in h2 {
  color: #2e2e2e;
  font-size: 28px;
  font-weight: 600;
  padding: 28px;
}

.bank_in ul {
  padding: 15px;
}

.bank_in li {
  border-radius: 15px;
  background: #f1f1f1;
  margin-bottom: 25px;
}

.bank_in p {
  padding: 0 145px 0 15px;
  color: rgba(0, 0, 0, 0.46);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bank_in span {
  padding: 0 145px 0 15px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bank_in img {
  padding: 0 0 5px 15px;
}
